In [1]:
import pandas as pd

In [11]:
data = pd.read_csv("chatgpt-50-diversified.csv")

In [12]:
data.head()

,Name,College,Major,hs,hsl,Extra,vol,Awards,unn
0,Aiden Brooks,MIT,Computer Science,Berkeley High School,Berkeley,CA,"Robotics Club (President), Coding Club, Jazz Band",Tutored coding at local community center,"USACO Gold Division, National Merit Scholar"
1,Bella Johnson,UCLA,Biology,Beverly Hills High School,Beverly Hills,CA,"Science Olympiad (Vice President), Swim Team, ...",Coastal Clean-Up Volunteer,"AP Scholar with Distinction, State Science Fai..."
2,Calvin Chen,Stanford University,Mathematics,Carmel High School,Carmel,IN,"Math Club (President), Drama Club, Chess Club",Math Tutor at senior center,"AMC 12 Honor Roll, USAJMO Qualifier"
3,Daisy Anderson,Harvard University,Political Science,Cranbrook Schools,Bloomfield Hills,MI,"Model UN (President), Dance Team, School Newsp...",Local Food Bank Volunteer,"National Debate Tournament Finalist, AP Scholar"
4,Evan Patel,MIT,Mathematics,Newton South High School,Newton,MA,"Math Olympiad Team (Captain), Student Governme...",Volunteered at youth math camp,"AMC 12 Top Scorer, Math Olympiad Silver Medalist"

In [4]:
!pip install intersystems_irispython-3.2.0-py3-none-any.whl
import iris
import time
import os

Processing ./intersystems_irispython-3.2.0-py3-none-any.whl
intersystems-irispython is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.

In [5]:
namespace="USER"
port = 1972
hostname = os.getenv('IRIS_HOSTNAME', 'localhost')
connection_string = f"{hostname}:{port}/{namespace}"
username = "demo"
password = "demo"

In [6]:
# Note: Ideally conn and cursor should be used with context manager or with try-execpt-finally 
conn = iris.connect(connection_string, username, password)
cursor = conn.cursor()

In [16]:
tableName = "Test.Upload"
tableDefinition = "(Name VARCHAR(255), College VARCHAR(255), Major VARCHAR(255), HSL VARCHAR(255), EXTRAC VARCHAR(255), Volun VARCHAR(255), Awards VARCHAR(255), unn VARCHAR(255))"

In [17]:
try:
    cursor.execute(f"DROP TABLE {tableName}")  
except:
    pass
cursor.execute(f"CREATE TABLE {tableName} {tableDefinition}")

0

In [19]:
##looping through dataframe and adding all the data to IRIS table
sql = "Insert into Test.Upload (Name, College,Major,HSL,EXTRAC,Volun, Awards,unn) values (?, ?, ?,?,?,?,?,?)"
start_time = time.time()
for index,row in data.iterrows():
    cursor.execute(sql, [row.Name,row.College,row.Major,row.hs, row.Extra, row.vol, row.Awards, row.unn])
end_time = time.time()
print(f"time taken to add {len(data)} entries: {end_time-start_time} seconds")

time taken to add 31 entries: 0.022324085235595703 seconds